<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      page_content += partial("includes/#{include}")
    end
  end
%>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <% if current_page.data.key?('meta') %>
      <% current_page.data.meta.each do |meta| %>
        <meta
          <% meta.each do |key, value| %>
            <%= "#{key}=\"#{value}\"" %>
          <% end %>
        >
        <% end %>
      <% end %>
      <title><%= current_page.data.title || "API Documentation" %></title>
      <style media="screen">
        <%= Rouge::Themes::MonokaiSublimeSlate.render(:scope => '.highlight') %>
      </style>
      <style media="print">
        * {
          transition:none!important;
        }
        <%= Rouge::Themes::Base16::Solarized.render(:scope => '.highlight') %>
      </style>
      <%= stylesheet_link_tag :screen, media: :screen %>
      <%= stylesheet_link_tag :print, media: :print %>
      <% if current_page.data.search %>
        <%= javascript_include_tag  "all" %>
      <% else %>
        <%= javascript_include_tag  "all_nosearch" %>
      <% end %>
      <% if current_page.data.code_clipboard %>
        <script>
          $(function() { setupCodeCopy(); });
        </script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
      <% end %>
    </head>
    <body data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
      <header class="header sticky" id="header">
        <div class="header__logo-wrapper">
          <div class="header__logo">
            <a href="/">
              <img src="/images/logo/light-logo.svg" style="height:38px" alt="Kill Bill Docs" id="logo">
            </a>
          </div>
          <label class="header__theme-switch theme-switch"></label>
        </div>
        
        <div class="header__sidebar-toggler">
          <svg class="hamburger" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.75 7C20.75 7.41421 20.4142 7.75 20 7.75L4 7.75C3.58579 7.75 3.25 7.41421 3.25 7C3.25 6.58579 3.58579 6.25 4 6.25L20 6.25C20.4142 6.25 20.75 6.58579 20.75 7Z" fill=""/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.75 12C20.75 12.4142 20.4142 12.75 20 12.75L4 12.75C3.58579 12.75 3.25 12.4142 3.25 12C3.25 11.5858 3.58579 11.25 4 11.25L20 11.25C20.4142 11.25 20.75 11.5858 20.75 12Z" fill=""/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.75 17C20.75 17.4142 20.4142 17.75 20 17.75L4 17.75C3.58579 17.75 3.25 17.4142 3.25 17C3.25 16.5858 3.58579 16.25 4 16.25L20 16.25C20.4142 16.25 20.75 16.5858 20.75 17Z" fill=""/>
          </svg>
        </div>

        <div class="header__search-wrapper">
          <div class="header__search">
            <div id="docsearch" style="height: 43px; display: flex; align-items: center; width: 100%;">
            </div>
          </div>

          <% if language_tabs.any? %>
            <div class="lang-selector">
              <select class="lang-selector__select">
                <% language_tabs.each do |lang|%>
                  <option data-language-name="<%= lang %>" value="<%= lang %>"><%= lang %></option>
                <% end %>
              </select>
              <div class="lang-selector__list">
                <% language_tabs.each do |lang| %>
                  <% if lang.is_a? Hash %>
                    <a href="#" class="lang-selector__link" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
                  <% else %>
                    <a href="#" class="lang-selector__link" data-language-name="<%= lang %>"><%= lang %></a>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </header>
      <div class="loader-wrapper">
        <div id="loading"></div>
      </div>
      <script>
        $(window).on('load',function(){
          $('.loader-wrapper').hide();
        });
      </script>
      
      <main class="page">
        <div class="page__sidebar">
          <nav class="toc-wrapper site-navigator">
            <ul id="toc" class="toc-list-h1 site-navigator__menu">
              <% toc_data(current_page.data.menu_items, current_page.data.current_page, page_content).each do |menu_item| %>
                <li>
                  <a href="<%= menu_item[:href].nil? ? "##{menu_item[:id]}" : menu_item[:href] %>" class="toc-h1 toc-link site-navigator__item site-navigator__menu-item" data-title="<%= menu_item[:title] %>"><%= menu_item[:content] %></a>
                  
                  <% if menu_item[:children].length > 0 %>
                    <ul class="toc-list-h2 site-navigator__submenu">
                      <% menu_item[:children].each do |submenu_item| %>
                        <li>
                          <a href="#<%= submenu_item[:id] %>" class="toc-h2 toc-link site-navigator__item site-navigator__submenu-item" data-title="<%= submenu_item[:title] %>"><%= submenu_item[:content] %></a>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                </li>
              <% end %>
            </ul>
            <% if current_page.data.toc_footers %>
              <ul class="toc-footer site-navigator__footer">
                <% current_page.data.toc_footers.each do |footer| %>
                  <li><%= footer %></li>
                <% end %>
              </ul>
            <% end %>
          </nav>
        </div>

        <div class="page__content content">
          <%= page_content %>
        </div>
      </main>
    </body>
    <script>
      setTimeout(function(){
        $('.content h2, .content h3, .content h4').append('<a href=""><svg class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z"></path></svg></a>');
        $('.content h2, .content h3, .content h4').each(function(){
          let itemHref = '#' + $(this).attr('id');
          $(this).find('a').attr("href", itemHref);
        });

        $('.content h2').each(
          function(i,e) {
            const sectionElements = $(this).nextUntil(this.tagName)

            const codeSnippets = sectionElements.filter('.highlight, blockquote', )
            const textBlock = sectionElements.not('.highlight, blockquote')

            const section = $('<section class="content__section" />')
              .append($('<div class="content__text" />').append(textBlock))
              .append($('<div class="content__code-snippets" />').append(codeSnippets))

            section.insertAfter($(this))
        });

        $('.theme-switch').on('click', function (e) {
          $('body').toggleClass('dark');
        });

        $('.header__sidebar-toggler').on('click', function() {
          $('.page').toggleClass('show-sidebar')
        })

        $('.site-navigator .site-navigator__menu-item').on('click', function () {
          $('.site-navigator .site-navigator__menu-item').removeClass('active')
          $(this).addClass('active')
        })
        
        $('.site-navigator .site-navigator__sub-item').on('click', function () {
          $('.site-navigator .site-navigator__submenu-item').removeClass('active')
          $('.site-navigator .site-navigator__menu-item').removeClass('active')
          $(this).parent('.site-navigator__menu-item').addClass('active')
          $(this).addClass('active')
        })
      })
    </script>
    <script src='https://cdn.jsdelivr.net/npm/@docsearch/js@3'></script>
    <script>
      docsearch({apiKey: '3ef227e7fd5e2e1a3fffd880484934bf', container: '#docsearch', appId: 'S2ISXITURI', indexName: 'killbill_slate'});
    </script>
  </html>
